@charset "utf-8";
/* CSS Document */
img#responsive{
	max-width: 100%;
	height: auto;
}
#global2{
	max-height:400px;
	max-width:90%;
	overflow-y: scroll;
}

#global3{
	max-height:400px;
	max-width:90%;
	overflow-y: scroll;
}


body#index{
	background-color: #00000;
}
.boton{
		/*background-color: #337AB7;*/
		background-color: #0574AC;
		border-radius: 0.5em;
		color: #F9F9F9;
		min-width: 100%;
		min-height: 50px;
}
.boton2{
		text-align: left;
		background-color: #F8F8F8;
		/*background-color: #00A0DE;*7
	
		/*border-radius: 0.5em;*/
		color: #00000;
		min-width: 100%;
		min-height: 30px;	
}
.boton3{
		/*background-color: #337AB7;*/
		background-color: #0574AC;
		border-radius: 0.5em;
		color: #F9F9F9;
		min-width: 150px;
		min-height: 40px;
}
.boton4{
		/*background-color: #337AB7;*/
		background-color: #004F01;
		border-radius: 0.5em;
		color: #F9F9F9;
		min-width: 150px;
		min-height: 40px;
}
button:hover{
	background: rgba(0,0,0,0);
 	color: #00A0DE;
 	box-shadow: inset 0 0 0 3px #3a7999;

}
#titulo{
	/*background-color:  #337AB7;*/
	background-color:  #0574AC;
	color: white;
}

#contenido{
	/*background-color:  #337AB7;*/
	min-height: 500px;
	max-height: 500px;
	min-width: 100%;
	/*border-top: 1px solid #369;
	border-left: 1px solid #369;
	border-right: 1px solid #369;
  	border-bottom: 3px double #369;*/
	overflow-y: scroll;
		
}
#contenido2{
	/*background-color:  #337AB7;*/
	min-height: 400px;
	max-height: 400px;
	min-width: 100%;
	border-top: 1px solid #369;
	border-left: 1px solid #369;
	border-right: 1px solid #369;
  	border-bottom: 3px double #369;
	overflow-y: scroll;
		
}
#comentarios{
	min-width: 300px;
	min-height:90px;
	
}
#margen{
	padding-top: 10px;
    padding-right: 35px;
    padding-left:35px;
	text-align: justify;
}
#liga{
	color: #00A0DE;
	text-decoration: none;
}


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
/* Círculos de colores numerados */
span.circulo {
  background: #00A0DE;
   border-radius: 0.8em;
	border-color: aqua;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
}