.gitignore
Depositos/
Validaciones/
RecargasDoc/
DocBuro/
FilesTmp/
FacturasDoc/
Depositos/
*.zip
includes/Conectar.php
Ventas/
Avisos/
OrdenPedido/
test.php
Test/
comparativo_ventas/includes/Connect.php
ruta/
OrdenPedidoV1/
error_log
